#animated-logo-container {
    flex: 1;
    width: 100%;
}

#animated-logo {
    position: relative;
    height: 100%;

    > img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .animated-logo-back {
        --logo-back-height-ratio: 0.7;

        /* Reduces height to ensure bottom is hidden behind front logo-text-sign
        when children elements slide up from the bottom */ 
        height: calc(var(--logo-back-height-ratio) * 100%);
        overflow: hidden;

        img {
            /* Increases img height back to same height as front logo-text-sign. */
            max-height: calc(1 / var(--logo-back-height-ratio) * 100%);
            max-width: 100%;
            margin: 0 auto;
        }

        > * {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            // Animation
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }
        .logo-image-sign {
            // Animation
            animation-name: logo-image-sign-slide;
        }
        .logo-trees {
            // Animation
            animation-name: logo-trees-slide;
        }
        .logo-rooster {
            // Animation
            animation-name: logo-rooster-slide;
        }
    }

    .logo-text-sign {
        bottom: 0;
    }
}

@keyframes logo-slide {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes logo-image-sign-slide {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes logo-trees-slide {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes logo-rooster-slide {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%);
    }
}