footer {
    padding: 1.6rem;
    // Flex
    display: grid;
    justify-items: center;
    align-items: flex-end;
    // Background
    background-color: #b4703f;
    background-image: url('./img/fondo_pie_240x41.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        text-align: center;

        small {
            font-size: 80%;
        }
    }
}

// Media Queries

/* Smallest (300px and down) */
@media only screen and (max-width: 300px) {}

/* Extra small devices (phones, 300px and up) */
@media only screen and (min-width: 300px) {
    footer {
        background-image: url('./img/fondo_pie_480x82.jpg');
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    footer {
        background-image: url('./img/fondo_pie_960x164.jpg');
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}