#gallery {
    width: 80%;
    // Grid
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //gap: 1rem;

    a.gallery-item {
        display: block;
        position: relative;

        &:hover, &:focus {
            img {
                transform: scale(1);
            }
        }

        img {
            width: 100%;
            height: auto;
            transform: scale(0.9);
            transition: transform 500ms ease;
        }
    }
}

#full-img-modal {
    --btn-width: 5rem;

    border: 2px solid black;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    //padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    //overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    // Grid
    display: grid;
    grid-template-columns: var(--btn-width) 1fr var(--btn-width);
    grid-template-rows: var(--btn-width) 1fr;
    grid-template-areas: 
        ". . close"
        "prev content next";

    &:not(.hide) {
        #img-modal-content {
            // Animation
            animation-name: zoom;
            animation-duration: 500ms;
        }
    }

    &.hide {
        display: none;
    }

    #img-modal-close {
        grid-area: close;
        font-size: 3rem;
        height: var(--btn-width);
    }

    #img-modal-content-container {
        grid-area: content;
        // Background
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        #img-modal-content {
            // margin: auto;
            // display: block;
            // width: 80%;
            // max-width: 700px;
            // height: auto;

            // max-width: 100%;
            // max-height: 100%;
            // display: block;
            // object-fit: contain;

            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    #img-modal-close, #img-modal-prev, #img-modal-next {
        cursor: pointer;
        border: 2px solid var(--base-white);
        width: var(--btn-width);
        // Grid
        display: grid;
        place-items: center;
        // Transition
        transition: background-color 300ms ease;

        &:hover, &:focus {
            background-color: hsl(0, 0%, 50%);
        }
    }

    #img-modal-prev {
        grid-area: prev;
        font-size: 6rem;
    }

    #img-modal-next {
        grid-area: next;
        font-size: 6rem;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}