#tagline {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;

    p:first-of-type {
        text-transform: uppercase;
    }

    p:last-of-type {
        max-width: 30ch;
        margin: 0 auto;
    }
}