#animated-logo {
    position: relative;
    height: 406px;
    width: 606px;
    overflow: hidden;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .logo-image-sign {

    }

    .logo-trees {

    }

    .logo-rooster {

    }

    .logo-text-sign {

    }
}